.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/images/books.jpg'); /* Zamijenite 'putanja/do/slike/knjige.jpg' sa stvarnom putanjom do slike */
  background-size: cover;
}

.login-content {
  background-color: #c586839f; /* Postavite boju sadržaja prema željama */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Prilagodite širinu prema potrebama */
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.btn-submit {
  /* Stilizacija gumba */
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0; /* Postavite željenu boju */
  color: #333;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-submit:hover {
  background-color: #ccc;
  color: #fff;
}

h2 {
  font-size: 24px;
  color: #840000;
  margin-bottom: 20px;
}
