.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #c586839f; */
    z-index: 1000;
  
    &__inner {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
  
      @media screen and (min-width: 768px) {
        padding: 0 32px;
      }
  
      @media screen and (min-width: 1024px) {
        padding: 0;
        max-width: 930px;
        margin: 0 auto;
      }
  
      @media screen and (min-width: 1300px) {
        max-width: 1280px;
      }
    
      .header__logout-link {
        border: 1px solid #ffffff; 
        border-radius: 4px; 
        padding: 6px 12px;
        border-color: #ffffff;
        color: #ffffff; 
        text-decoration: none; 
        margin-left: 20px; 
        font-weight: bold; 
        font-size: 18px;
      }
    }
  
    &__nav {
      display: none;
  
      @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
      }
    }
  
    &__link {
      margin-right: 32px;
      line-height: 80px;
      transition: color 0.3s ease-out;
      color: white;
    }

  
  }
  