.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/books.jpg'); 
    background-size: cover; 
    background-position: center;
    filter: brightness(90%);
  
  }
  
  .registration-content {
    background-color: #c586839f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; 
  }
  
  .registration-content h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .btn-submit {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-submit:hover {
    background-color: #ccc;
    color: #fff;
  }
  
  h2 {
    font-size: 24px;
    color: #840000;
    margin-bottom: 20px;
  }